<form method="post" action="http://localhost/fifa/index.php/welcome/comment_insert" align="center">
<div >
    <label for="nos" class="autors">Autors:</label>
    <input type="nos" class="form-control" id="email" name= "title" align="center" placeholder="Ierakstiet savu vardu" required> </br>
</div>
<div  >
    <label for="comment" class="autors">Kommentars:</label> </br>
    <textarea class="form-control" rows="7" id="comment" name= "text" align="center" required></textarea> </br>

</div>
<hr>
    <button type="submit" class="btn btn-success">Pievienot komentaru</button>
</form>